<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag(${title})"></head>
<body>



<!-- navbar -->
<div th:replace="fragments :: navbar"></div>

<!-- /navbar -->
<div class="container">
    <div th:replace="fragments :: flash"></div>
    <div th:replace="fragments :: sentLettersButtons(${title})"></div>


    <div th:replace="fragments/details :: viewDetails(letter=${letter}, archived=${archived}, revision=${revision})"></div>

    <div class="btn-group mb-5" roleValue="group" aria-label="Basic example">
        <button th:if="${archived}" type="button" class="btn btn-secondary mr-3"
                data-toggle="modal" data-target="#editHistoryModal">تعديل</button>
        <a th:unless="${archived}" th:href="|/${type}/form/${letter.id}/edit|" class="btn btn-secondary mr-3">تعديل</a>
        <a th:href="|/${type}/${letter.id}/history|" class="btn btn-secondary mr-3" >نسخ قديمه</a>

        <a th:href="|/links/${type}/${letter.id}/show-links|" class="btn btn-secondary mr-3">الروابط</a>
        <a href="javascript:history.back()" class="button mr-3">رجوع</a>
    </div>

    <div th:unless="${archived}" th:replace="fragments/images :: imageCollapse(sentOrReceived=${type}, letterID=${letter.id})"></div>

    <div th:replace="fragments :: editHistoryModal(|/${type}/form/${letter.id}/edit|)"></div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var type = [[${sentOrReceived}]];
        var letterId = [[${letter.id}]];
        /*]]>*/
    </script>
    <script th:src="@{/js/letter-details-buttons.js}"></script>

</div>


</body>
</html>
