<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag('بيانات الوارد')"></head>

<body>
<!-- navbar -->
<div th:replace="fragments :: navbar"></div>

<!-- /navbar -->

<div class="container">
    <div th:replace="fragments :: flash"></div>
    <div th:replace="fragments :: receivedLettersButtons('بيانات الوارد')"></div>


    <div th:replace="fragments/details :: viewDetails(letter=${letter}, archived=${archived}, revision=${revision})"></div>


    <div class="btn-group" roleValue="group" aria-label="Basic example">
        <button th:if="${archived}" type="button" class="btn btn-secondary mr-3"
                data-toggle="modal" data-target="#editHistoryModal">تعديل</button>
        <a th:unless="${archived}" th:href="|/received/form/${letter.id}/edit|" class="btn btn-secondary mr-3">تعديل</a>
        <a th:href="|/received/${letter.id}/history|" class="btn btn-secondary mr-3" >نسخ قديمه</a>
        <a th:href="|/received/${letter.id}/images|" class="btn btn-secondary mr-3">الصور</a>
        <a th:href="|/links/received/${letter.id}/show-links|" class="btn btn-secondary mr-3">الروابط</a>
        <a href="javascript:history.back()" class="button mr-3">رجوع</a>
    </div>



    <div th:replace="fragments :: editHistoryModal(|/received/form/${letter.id}/edit|)"></div>
</div>
</body>
</html>
