<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag('بحث وارد')"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <div th:replace="fragments :: flash"></div>
    <div th:replace="fragments :: sentLettersButtons('بحث وارد')"></div>

    <form action="/show-received" method="post" class="d-inline pt-5" th:object="${form}">
        <div class="form-row">
            <div class="form-group col">
                <label for="department">اسم الجهه</label>
                <input type="text" th:value="${department}" class="form-control" id="department" readonly="readonly"/>
            </div>
            <div class="form-group col">
                <label for="year">السنه</label>
                <input type="text" th:field="*{year}" class="form-control" id="year" placeholder="السنه"/>
            </div>
            <div class="form-group col">
                <label for="number">الرقم</label>
                <input type="text" th:field="*{number}" class="form-control" id="number" placeholder="الرقم"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="subject">العنوان</label>
                <input type="text" th:field="*{subject}" class="form-control" id="subject" placeholder="العنوان"/>
            </div>
            <div class="form-group col">
                <label for="startDate">من</label>
                <input type="date" th:field="*{startDate}" class="form-control" id="startDate" placeholder="من"/>
            </div>
            <div class="form-group col">
                <label for="endDate">الى</label>
                <input type="date" th:field="*{endDate}" class="form-control" id="endDate" placeholder="الى"/>
            </div>
        </div>
        <div class="form-group">
            <label for="senderName">اسم المرسل</label>
            <input type="text" th:field="*{senderName}" class="form-control" id="senderName" placeholder="اسم المرسل"/>
        </div>
        <div class="form-group">
            <label for="departmentSentFrom">الجهه المرسل منها</label>
            <input type="text" th:field="*{departmentSentFrom}" class="form-control" id="departmentSentFrom"
                   placeholder="الجهه المرسل منها"/>
        </div>
        <div class="form-group">
            <label for="sentLetterNumber">رقم الخطاب المرسل</label>
            <input type="text" th:field="*{sentLetterNumber}" class="form-control" id="sentLetterNumber"
                   placeholder="رقم الخطاب المرسل"/>
        </div>
        <div class="form-group">
            <label for="message">الرساله</label>
            <textarea th:field="*{message}" class="form-control" id="message" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">بحث</button>

    </form>
    <a href="javascript:history.back()" class="button mr-3">رجوع</a>
</div>


</body>
</html>
