<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>روابط سابقه</title>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/plug-ins/1.10.19/features/searchHighlight/dataTables.searchHighlight.css}"/>

    <script th:src="@{/js/basicDataTable.js}"></script>


</head>

<body>
<div th:replace="fragments :: navbar"></div>


<div class="container">
    <div th:replace="fragments :: flash"></div>
    <h1>اظهار الروابط</h1>

    <table id="baseTable" class="table table-striped display" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>اسم الجهه</th>
                <th>النوع</th>
                <th>الرقم</th>
                <th>التاريخ</th>
                <th>الرساله</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="letter : ${baseLetter.links}">
                <div th:if="${letter.isReceivedLetter()}">
                    <td><a th:href="@{|/received/${letter.id}|}" th:text="${letter.department.name}"></a></td>
                    <td>وارد</td>
                </div>
                <div th:if="${letter.isSentLetter()}">
                    <td><a th:href="@{|/sent/${letter.id}|}" th:text="${letter.department.name}"></a></td>
                    <td>صادر</td>
                </div>
                <td th:text="${letter.number}"></td>
                <td th:text="${letter.date}"></td>
                <td th:text="${letter.message}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>اسم الجهه</th>
                <th>النوع</th>
                <th>الرقم</th>
                <th>التاريخ</th>
                <th>الرساله</th>
            </tr>
        </tfoot>
    </table>
</div>

<script src="//bartaz.github.io/sandbox.js/jquery.highlight.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>


</body>
</html>
