<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag(${title})"></head>

<div th:replace="fragments :: navbar"></div>


<body>

<div th:fragment="imageCollapse(sentOrReceived, letterID)" class="collapse" id="imageCollapse">
    <button id="showHideButton" class="btn btn-primary btn-block">اظهار</button>

    <div id="imagesContainer"></div>


    <form th:action="@{|/${sentOrReceived}/${letterID}/images/add|}" method="post">
        <div class="custom-file p-5">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">رفع صوره جديده</label>
        </div>

    </form>

</div>

<script>
    var button = $("#showHideButton");
    button.on("click", function () {
        $(".deleted").toggleClass("d-none");
        var text = button.text();
        button.text(
            text === "اظهار" ? "اخفاء" : "اظهار"
        );

    });
</script>

</body>
</html>