<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag(${title})"></head>

<div th:replace="fragments :: navbar"></div>


<body>

<div th:fragment="showImages(sentOrReceived)">

    <div class="row">
        <div th:each="image : ${images}" class="col-sm-3 p-3" th:unless="${image.deleted}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${image.addedOn}"></h5>
                    <a th:href="@{|/${sentOrReceived}/${image.letter.id}/images/${image.id}|}"
                       class="btn btn-primary btn-sm" target="_blank">اظهار</a>

                    <form class="deleteImageForm d-inline"
                          th:action="@{|/${sentOrReceived}/${image.letter.id}/images/${image.id}/delete|}" method="post">
                        <button class="btn btn-danger btn-sm" type="submit">مسح</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var button = $("#showHideButton");
    button.on("click", function () {
        $(".deleted").toggleClass("d-none");
        var text = button.text();
        button.text(
            text === "اظهار" ? "اخفاء" : "اظهار"
        );

    });
</script>

</body>
</html>