td.details-control{
  background-repeat:no-repeat;
  background-position: center;
  background-image:url(https://datatables.net/examples/resources/details_open.png);
}
tr.shown td.details-control{
    background: url(https://datatables.net/examples/resources/details_close.png) no-repeat center center;
}

div.dataTables_wrapper {
    direction: rtl;
}