<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag('تعديل وارد')"></head>

<body>
<!-- navbar -->
<div th:replace="fragments :: navbar"></div>

<!-- /navbar -->

<div class="container">
    <div th:replace="fragments :: flash"></div>
    <div th:replace="fragments :: receivedLettersButtons('تعديل وارد')"></div>


    <form class="d-inline pt-5" th:action="@{|/received/form/${letter.id}/edit|}" method="post"
          th:object="${letter}">

        <div th:replace="fragments/form :: formHiddenInput"></div>
        <div th:replace="fragments/form :: formHeader(letter=${letter}, readonly='true')"></div>
        <div th:replace="fragments/form :: formBody(letter=${letter}, readonly='false')"></div>


        <button type="submit" class="btn btn-primary mr-3">تعديل</button>
    </form>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">مسح</button>

    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#returnToDetailsModal">اظهار الخطاب</button>

    <a href="javascript:history.back()" class="button mr-3">رجوع</a>

    <!--modal-->
    <div th:replace="fragments :: deleteModal(|/received/${letter.id}/delete|)"></div>
    <!--/modal-->
    <!--modal-->
    <div th:replace="fragments :: unsavedChanges(|/generic/${letter.id}|)"></div>
    <!--/modal-->
</div>

</body>
</html>
