<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: basicHeadTag('تعديل وارد')"></head>

<body>
<!-- navbar -->
<div th:replace="fragments :: navbar"></div>

<!-- /navbar -->

<div class="container">
    <div th:replace="fragments :: flash"></div>
    <div th:replace="fragments :: receivedLettersButtons('تعديل وارد')"></div>


    <form class="d-inline pt-5" th:action="@{|/received/form/${letter.id}/edit|}" method="post"
          th:object="${letter}">

        <div th:replace="fragments/form :: formHiddenInput"></div>
        <div th:replace="fragments/form :: formHeader(letter=${letter}, readonly='true')"></div>
        <div th:replace="fragments/form :: formBody(letter=${letter}, readonly='false')"></div>


        <button type="submit" class="btn btn-primary mr-3">تعديل</button>
    </form>

    <form id="deleteLetter" class="d-inline mr-3" th:action="@{|/received/${letter.id}/delete|}" method="post">
        <button type="submit" class="btn btn-primary">مسح</button>
    </form>

    <a id="redirectLetter" th:href="@{|/generic/${letter.id}|}" type="submit" class="btn btn-primary mr-3">اظهار الخطاب</a>

    <a href="javascript:history.back()" class="button mr-3">رجوع</a>

</div>

</body>

<script th:src="@{/js/confirm-actions.js}"></script>

</html>
